@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: #00ef7e;
}

.rhap-volume-bar,
.rhap_main-controls-button,
.rhap_button-clear {
  color: var(--main-green);
}

.rhap_progress-indicator,
.rhap_volume-indicator {
  background-color: var(--main-green);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
